<div [formGroup]="categoryForm" class="h:auto">
  <div class="p-inputgroup">
    <input formControlName="categoryName" pInputText placeholder="Category" />
  </div>
  <div style="margin-top: 1rem">
    Color:
    <span
      ><p-colorPicker
        formControlName="categoryColor"
        format="rgb"
      ></p-colorPicker
    ></span>
  </div>
  <br />
  <div class="btn-group">
    <p-button
      [disabled]="categoryForm.invalid"
      icon="pi pi-check"
      label="Save"
    ></p-button>
    <p-button icon="pi pi-times" label="Close"></p-button>
  </div>
</div>
