<div class="p:1rem display:flex flex-column">
  <h1>RAM</h1>
  <div>
    <p-chart
      #ramChart
      [data]="ramData"
      [options]="options"
      type="pie"
    ></p-chart>
  </div>
</div>

<div class="p:1rem display:flex flex-column">
  <h1>System Info</h1>
  <p-table [value]="systemInfo">
    <ng-template pTemplate="header">
      <tr>
        <th>Property</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template let-info pTemplate="body">
      <tr>
        <td>{{ info.property | uppercase }}</td>
        <td>{{ info.value }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
