<div class="all-events">
  <p-table
    #eventsTable
    [(selection)]="selectedEvents"
    [breakpoint]="'460px'"
    [filterDelay]="0"
    [globalFilterFields]="['title', 'start', 'end']"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    [value]="data()"
    autoLayout
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    responsiveLayout="stack"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div class="flex">
          <input
            (input)="filterTable($event)"
            pInputText
            placeholder="Search keyword"
            type="text"
          />
        </div>
        <div class="btn-group justify-content-end">
          <p-button
            (onClick)="refresh()"
            icon="pi pi-refresh"
            severity="success"
          />
          <p-button
            (onClick)="deleteEvents()"
            [disabled]="!selectedEvents || selectedEvents.length === 0"
            [style]="{ width: 'auto' }"
            badge="{{ selectedEvents.length }}"
            icon="pi pi-trash"
            severity="danger"
          />
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="title">Title</th>
        <th pSortableColumn="start">Start Date</th>
        <th pSortableColumn="end">End Date</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template let-event pTemplate="body">
      <tr>
        <td>
          <p-tableCheckbox [value]="event" />
        </td>
        <td style="max-width: 8rem">
          <p-inplace #inplace>
            <ng-template pTemplate="display">
              <div class="wrap-text">{{ event.title }}</div>
            </ng-template>
            <ng-template pTemplate="content">
              <div class="flex">
                <input
                  #title
                  (blur)="inplace.deactivate()"
                  (keydown)="
                    handleEnter($event, inplace, {
                      oldEvent: event,
                      newValue: title.value,
                    })
                  "
                  [value]="event.title"
                  class="wrap-text"
                  pInputText
                  style="max-width: 100%"
                  type="text"
                />
                <span class="flex" style="margin-left: -8px">
                  <p-button
                    (onClick)="inplace.deactivate()"
                    [text]="true"
                    icon="pi pi-times"
                    severity="danger"
                  />
                </span>
              </div>
            </ng-template>
          </p-inplace>
        </td>
        <td style="min-width: 8rem">{{ event.start | date: 'dd-MM-YYYY' }}</td>
        <td style="min-width: 8rem">{{ event.end | date: 'dd-MM-YYYY' }}</td>
        <td>
          <div class="flex gap-1">
            <p-button
              (onClick)="navigateEvent(event)"
              icon="pi pi-map-marker"
              severity="info"
            />
            <p-button
              (onClick)="deleteEvent(event)"
              icon="pi pi-trash"
              severity="danger"
            />
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--  <mat-form-field appearance="fill" style="width: 100%">-->
  <!--    <mat-label>Filter</mat-label>-->
  <!--    <input #input (keyup)="applyFilter($event)" matInput />-->
  <!--  </mat-form-field>-->
  <!--  <button-->
  <!--    (click)="handleDeleteEvents()"-->
  <!--    [disabled]="!selection.selected.length"-->
  <!--    color="primary"-->
  <!--    mat-raised-button-->
  <!--    style="margin-bottom: 1rem"-->
  <!--  >-->
  <!--    Delete-->
  <!--    {{-->
  <!--      isAllSelected()-->
  <!--        ? 'all'-->
  <!--        : selection.selected.length > 1-->
  <!--          ? selection.selected.length + ' items'-->
  <!--          : selection.selected.length == 1-->
  <!--            ? '1 item'-->
  <!--            : ''-->
  <!--    }}-->
  <!--  </button>-->
  <!--  <table-->
  <!--    [dataSource]="dataSource"-->
  <!--    class="mat-elevation-z8"-->
  <!--    mat-table-->
  <!--    matSort-->
  <!--    matSortActive="start"-->
  <!--    matSortDirection="asc"-->
  <!--    matSortDisableClear-->
  <!--  >-->
  <!--    <ng-container matColumnDef="select">-->
  <!--      <th *matHeaderCellDef mat-header-cell>-->
  <!--        <mat-checkbox-->
  <!--          (change)="$event ? masterToggle() : null"-->
  <!--          [aria-label]="checkboxLabel()"-->
  <!--          [checked]="selection.hasValue() && isAllSelected()"-->
  <!--          [indeterminate]="selection.hasValue() && !isAllSelected()"-->
  <!--          color="primary"-->
  <!--        ></mat-checkbox>-->
  <!--      </th>-->
  <!--      <td *matCellDef="let element" mat-cell>-->
  <!--        <mat-checkbox-->
  <!--          (change)="$event ? selection.toggle(element) : null"-->
  <!--          (click)="$event.stopPropagation()"-->
  <!--          [aria-label]="checkboxLabel(element)"-->
  <!--          [checked]="selection.isSelected(element)"-->
  <!--          color="primary"-->
  <!--        >-->
  <!--        </mat-checkbox>-->
  <!--      </td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef="title">-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header>Title</th>-->
  <!--      <td *matCellDef="let element" mat-cell>{{ element.title }}</td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef="start">-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header>Start Date</th>-->
  <!--      <td *matCellDef="let element" mat-cell>-->
  <!--        {{ element.start | date: 'dd-MM-YYYY' }}-->
  <!--      </td>-->
  <!--    </ng-container>-->
  <!--    <ng-container matColumnDef="end">-->
  <!--      <th *matHeaderCellDef mat-header-cell mat-sort-header>End Date</th>-->
  <!--      <td *matCellDef="let element" mat-cell>-->
  <!--        {{ element.end | date: 'dd-MM-YYYY' }}-->
  <!--      </td>-->
  <!--    </ng-container>-->
  <!--    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>-->
  <!--    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>-->
  <!--    <tr *matNoDataRow class="mat-row">-->
  <!--      <td class="mat-cell" colspan="4">-->
  <!--        No data matching the filter "{{ input.value }}"-->
  <!--      </td>-->
  <!--    </tr>-->
  <!--  </table>-->
  <!--  <mat-paginator-->
  <!--    [pageSizeOptions]="[5, 10, 20]"-->
  <!--    aria-label="Select page of periodic elements"-->
  <!--    pageSize="10"-->
  <!--    showFirstLastButtons-->
  <!--  >-->
  <!--  </mat-paginator>-->
</div>
