<div class="event-dialog">
  <h1>Event Dialog</h1>
  <div mat-dialog-content style="width: 100%; height: 75%; margin: auto">
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-label>Event Title</mat-label>
      <input [(ngModel)]="data.title" matInput />
    </mat-form-field>
    <div class="color-picker">
      <mat-label style="color: var(--primary-color)">Event Color</mat-label>
      <p-colorPicker
        [(ngModel)]="data.backgroundColor"
        [inline]="true"
        class="picker"
        format="rgb"
      ></p-colorPicker>
    </div>
  </div>
  <div mat-dialog-actions>
    <button (click)="onNoClick()" mat-button>Cancel</button>
    <button [mat-dialog-close]="data" mat-button>Submit</button>
  </div>
</div>
