<!--<mat-spinner [diameter]="100" [strokeWidth]="10" *ngIf="loading"></mat-spinner>-->
<div class="p:1rem">
  <app-date-picker></app-date-picker>
  <h2>All Events</h2>
  <app-events-table></app-events-table>
</div>
