.fc {
  .fc-toolbar {
    .fc-toolbar-chunk {
      display: flex;
    }
  }
}

.flex {
  display: flex;
}

table {
  width: 100%;
}

.loading-screen {
  opacity: 0.1;
  pointer-events: none;
}

.mat-spinner {
  @media ('<425px') {
    left: 30%;
  }
}

.color-picker {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .picker {
    margin-left: 1rem;
    @media (max-width: 425px) {
      margin-left: 0;
    }
  }

  .p-colorpicker-panel {
    width: 50px;
  }
}

.all-events {
  .button-group {
    & > button {
      margin-right: 0.5rem;
    }
  }
}

.event-dialog {
  padding: 1rem;
}
