<div class="notes">
  <div class="notes__input">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        [(ngModel)]="titleInputText"
        [value]="titleInputText"
        autocomplete="new-title"
        matInput
        type="text"
      />
    </mat-form-field>
  </div>
  <div class="notes__content">
    <p-editor [(ngModel)]="contentInputText"></p-editor>
  </div>
  <div [id]="utils.isMobile ? 'mobile' : ''" class="btn-group">
    <button
      (click)="
        isEdit ? onEdit() : onCreateNote(titleInputText, contentInputText)
      "
      color="primary"
      mat-raised-button
    >
      {{ editedNote ? 'Save' : 'Create note' }}
    </button>
    <button (click)="onClear()" color="primary" mat-stroked-button>
      Clear
    </button>
    <!--    <button (click)="openAddCatDialog()" color="primary" mat-raised-button>-->
    <!--      Add category-->
    <!--    </button>-->
    <button
      (click)="syncNotes()"
      *ngIf="!editedNote"
      color="primary"
      mat-raised-button
    >
      Sync from firebase
    </button>
    <!--    <p-dialog-->
    <!--      (onHide)="saveCategory($event)"-->
    <!--      [(visible)]="addCatDialogOpen"-->
    <!--      [closeOnEscape]="true"-->
    <!--      [draggable]="false"-->
    <!--      [modal]="true"-->
    <!--      header="Add Category"-->
    <!--    >-->
    <!--    </p-dialog>-->
    <ng-content></ng-content>
  </div>
</div>
