.url {
  .form {
    &-wrapper {
      width: 100%;
      text-align: center;
    }

    &-input {
      display: flex;
      width: 80%;
      margin: auto;
      gap: 1rem;

      .form-field {
        flex: 50%;
      }
    }
  }

  .checkboxes {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    gap: 1rem;
    margin: auto;
  }

  .button-group {
    margin: 2rem auto auto;
    display: flex;
    width: 80%;
    gap: 0.5rem;

    & > button {
      flex: auto;
    }
  }
}
