<div class="url">
  <div class="form-wrapper">
    <div class="form-input">
      <mat-form-field class="form-field">
        <mat-label>Input text to change</mat-label>
        <textarea
          (keyup)="keepLink()"
          [(ngModel)]="input"
          id="url"
          matInput
          name="text"
          rows="10"
        ></textarea>
      </mat-form-field>
      <mat-form-field *ngIf="choice === 'keep-link'" class="form-field">
        <mat-label>Result</mat-label>
        <textarea
          [(ngModel)]="result"
          id="result"
          matInput
          name="text"
          readonly
          rows="10"
        ></textarea>
      </mat-form-field>
    </div>
    <mat-radio-group [(ngModel)]="choice" class="checkboxes" color="primary">
      <mat-radio-button value="keep-link">Keep link</mat-radio-button>
      <mat-radio-button (click)="input = result" value="run-multi-url"
        >Run all urls
      </mat-radio-button>
    </mat-radio-group>
    <div class="button-group">
      <button
        (click)="runMultiURL()"
        *ngIf="choice === 'run-multi-url'"
        color="primary"
        mat-raised-button
      >
        Run
      </button>
      <button
        *ngIf="choice === 'keep-link'"
        [cdkCopyToClipboard]="result"
        color="primary"
        mat-raised-button
      >
        Copy to clipboard
      </button>
      <button (click)="clear()" color="primary" mat-raised-button>Clear</button>
    </div>
  </div>
</div>
