<!--<app-editor></app-editor>-->
<div
  class="w:100% float:right display:flex gap:0.5rem justify-content-end p:1rem position:sticky"
>
  <p-button
    (onClick)="onSwitchMode(ActionType.ADD)"
    icon="pi pi-plus"
    label="Add note"
  ></p-button>
  <p-button
    (onClick)="openCategoryDialog()"
    icon="pi pi-plus"
    label="Add category"
  ></p-button>
</div>
<div
  *ngIf="data()"
  [mobileConfig]="{
    style: {
      display: 'flex',
      'flex-direction': 'column',
    },
  }"
  class="notes-display ql-editor"
>
  <div *ngFor="let note of data()">
    <div *ngIf="!note.isEdit" class="notes-display__wrapper">
      <div class="delete__area mb:0.5rem position:sticky">
        <!--        <div-->
        <!--          (click)="onSwitchMode(ActionType.EDIT, note)"-->
        <!--          class="edit"-->
        <!--          matTooltip="Edit note"-->
        <!--          role="button"-->
        <!--        >-->
        <!--          <mat-icon *ngIf="!note.isEdit">edit</mat-icon>-->
        <!--        </div>-->
        <!--        <div-->
        <!--          (click)="deleteNote(note.id)"-->
        <!--          class="delete"-->
        <!--          matTooltip="Delete note"-->
        <!--          role="button"-->
        <!--        >-->
        <!--          <mat-icon>delete</mat-icon>-->
        <!--        </div>-->
        <p-button
          (onClick)="onSwitchMode(ActionType.EDIT, note)"
          icon="pi pi-pencil"
          severity="info"
        ></p-button>
        <p-button
          (onClick)="deleteNote(note.id)"
          icon="pi pi-trash"
          severity="danger"
        ></p-button>
      </div>
      <div
        [mobileConfig]="{
          style: {
            height: '200px',
          },
        }"
        class="overflow-y:auto h:300px"
      >
        <em *ngIf="note.modifiedDate" class="note-date"
          >Last modified at
          {{ note.modifiedDate | date: 'dd/MM/yyyy, hh:mm:ss a' }}</em
        >
        <br *ngIf="note.modifiedDate" />
        <em class="note-date"
          >Created at
          {{ note.createdDate | date: 'dd/MM/yyyy, hh:mm:ss a' }}</em
        >
        <h2 class="note-title">{{ note.title }}</h2>
        <div [innerHTML]="note.content"></div>
      </div>
    </div>
    <app-editor *ngIf="note.isEdit" [editedNote]="editedNote" [isEdit]="true">
      <button
        (click)="note.isEdit = false"
        [style]="{ width: '25vw' }"
        color="primary"
        mat-stroked-button
      >
        Cancel
      </button>
    </app-editor>
  </div>
</div>
