<div class="weather">
  <form [formGroup]="weatherForm">
    <h3>Country</h3>
    <mat-form-field appearance="fill">
      <mat-label>Select place</mat-label>
      <input
        (blur)="forecast()"
        [formControl]="placeControl"
        aria-label="Select place"
        matInput
        placeholder="Select country"
        type="text"
      />
      <!--      <mat-autocomplete-->
      <!--        #auto="matAutocomplete"-->
      <!--        (optionSelected)="forecast()"-->
      <!--        autoActiveFirstOption-->
      <!--      >-->
      <!--        <mat-option-->
      <!--          *ngFor="let country of filteredOptions | async"-->
      <!--          [value]="country"-->
      <!--          >{{ country }}</mat-option-->
      <!--        >-->
      <!--      </mat-autocomplete>-->
    </mat-form-field>
  </form>
  <div class="">
    <button (click)="getCurrentWeather()" color="primary" mat-raised-button>
      Get current weather
    </button>
  </div>
  <div *ngIf="weatherInfo" class="result">
    <li class="text-center">
      <img
        alt=""
        class="w:5rem"
        src="assets/icons/visualcrossing/set2/{{
          weatherInfo.currentConditions.icon
        }}.png"
      />
    </li>
    <li>{{ weatherInfo.resolvedAddress }}</li>
    <li>{{ weatherInfo.description }}</li>
    <li>Current Time: {{ weatherInfo.currentConditions.datetime }}</li>
    <li>
      Temperature:
      <span
        [ngStyle]="{
          color:
            weatherInfo &&
            weatherInfo.currentConditions &&
            weatherInfo.currentConditions.temp &&
            weatherInfo.currentConditions.temp > 30
              ? 'red'
              : 'blue',
        }"
        >{{ weatherInfo.currentConditions.temp }}°C</span
      >
    </li>
  </div>
</div>
