.weather {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: left;

  mat-form-field {
    width: 80vw;
  }

  .result {
    text-align: left;
    font-size: 1rem;
    width: 80vw;

    li {
      list-style-type: none;
    }
  }
}
