.app-menu-bar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .switch-mode {
    margin: 0.5rem;
    text-align: center;
  }

  .is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }

  h1.title {
    margin-left: 8px;
  }

  .sidenav {
    &-container {
      flex: 1;
    }

    &-content {
      //padding: 1rem;
    }

    &-wrapper {
      width: 200px;
    }

    &-item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: end;

      & > p {
        margin: unset;
      }
    }
  }

  .is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  .active-nav {
    background: rgba(103, 58, 183, 0.15);
    color: #673ab7;
  }

  .spacer {
    flex: 1 1 auto;
  }
}
