<div class="app-menu-bar">
  <mat-toolbar class="toolbar" color="primary">
    <button
      (click)="sideNav.toggle()"
      *ngIf="mobileQuery.matches"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="title">
      {{ title ? title : 'Useful Tools' }} -
      {{ utils.isProduction() ? 'Production' : 'Development' }}
    </h1>
    <span class="spacer"></span>
    <button (click)="subscribePush()" mat-raised-button>
      {{
        isPushSubscribed()
          ? 'Resubscribe Push Subscription'
          : 'Push Notification Subscribe'
      }}
    </button>
    <!--    <i [value]="noti.length.toString()" class="pi pi-bell text-3xl" pBadge></i>-->
    <!--    <button-->
    <!--      (click)="onAuthenticate()"-->
    <!--      aria-label="Example icon-button with heart icon"-->
    <!--      class="example-icon favorite-icon"-->
    <!--      mat-icon-button-->
    <!--    >-->
    <!--      <mat-icon>{{ isAuthenticated ? 'logout' : 'login' }}</mat-icon>-->
    <!--      &lt;!&ndash;      <div *ngFor="let note of noti">{{ note }}</div>&ndash;&gt;-->
    <!--    </button>-->
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [fixedInViewport]="mobileQuery.matches"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="!utils.isMobile"
      disableClose="false"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div *ngIf="false" class="switch-mode">
          <mat-slide-toggle
            #mode
            (change)="switchMode($event)"
            [checked]="utils.getCurrentMode() === 'remote'"
            color="primary"
            >{{ mode.checked ? 'Remote' : 'Cloud' }}
          </mat-slide-toggle>
        </div>
        <div *ngFor="let sideNavItem of sideNavItems" class="sidenav-wrapper">
          <a
            (click)="onNavigate(sideNavItem.url)"
            *ngIf="sideNavItem.show"
            [routerLink]="['/', sideNavItem.url]"
            mat-list-item
            routerLinkActive="active-nav"
          >
            <div class="sidenav-item">
              <p>{{ sideNavItem.title }}</p>
              <span class="material-icons"> {{ sideNavItem.icon }} </span>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
