<div class="baby">
  <div class="date">
    <div>Date</div>
    <p-calendar
      (onSelect)="onSelectDate($event)"
      [(ngModel)]="date"
      [showButtonBar]="true"
      dateFormat="dd/mm/yy"
    ></p-calendar>
  </div>
  <div class="time">
    <div>Time</div>
    <p-calendar [(ngModel)]="time" [timeOnly]="true"></p-calendar>
  </div>
</div>
