<form
  (ngSubmit)="
    authService.authenticate(emailInput.value, passwordInput.value, 0)
  "
  class="auth-form p:1rem"
>
  <div class="auth-form__input">
    <mat-form-field appearance="fill">
      <input
        #emailInput
        [disabled]="!!(utils.isLoading | async)"
        [formControl]="email"
        matInput
        placeholder="Email"
      />
      <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div class="auth-form__input">
    <mat-form-field appearance="fill">
      <input
        #passwordInput
        [disabled]="!!(utils.isLoading | async)"
        [formControl]="password"
        matInput
        placeholder="Password"
        type="password"
      />
      <mat-error *ngIf="password.invalid"
        >{{ getPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="btn-group">
    <button
      (click)="onSwitchMode()"
      [disabled]="!!(utils.isLoading | async)"
      color="primary"
      mat-raised-button
      type="button"
    >
      Switch to {{ authService.isLogin ? 'Signup' : 'Login' }}
    </button>
    <div class="btn-group-inline">
      <button
        (click)="
          authService.authenticate(
            emailInput.value,
            passwordInput.value,
            3600000
          )
        "
        [disabled]="
          !email.valid || !password.valid || !!(utils.isLoading | async)
        "
        color="primary"
        mat-raised-button
      >
        {{ authService.isLogin ? 'Login' : 'Signup' }}
      </button>
      <button (click)="ggLogin($event)" color="primary" mat-raised-button>
        <i class="fa-brands fa-google"></i>
        <span class="ml-2">Login</span>
      </button>
      <button (click)="fbLogin($event)" color="primary" mat-raised-button>
        <mat-icon>facebook</mat-icon>
        <span>Login</span>
      </button>
      <button
        (click)="authService.azureLogin($event)"
        color="primary"
        mat-raised-button
      >
        <span>Login with Azure </span>
      </button>
    </div>
  </div>
</form>
