.auth-form {
  text-align: center;

  mat-form-field {
    width: 60vw;
    margin: auto;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60vw;
    //@media screen and (max-width: 600px) {
    //  width: 100%;
    //}
    margin: auto;
    padding-top: 0.5rem;

    &-inline {
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 600px) {
        flex-direction: column;
      }
      gap: 0.5rem;
      width: 100%;
      margin: auto;
      padding-top: 0.5rem;
      justify-content: center;

      & > button {
        width: 50%;
        @media screen and (max-width: 600px) {
          width: 100%
        }
      }
    }
  }
}
