<div class="p:1rem">
  <div class="file-upload">
    <p-fileUpload
      #fileUpload
      (uploadHandler)="uploadFile($event)"
      [customUpload]="true"
      [disabled]="false"
      [maxFileSize]="10000000000"
      [multiple]="true"
      accept=""
      name="fileUpload"
    >
      <ng-template let-file pTemplate="file">
        <div>{{ file.name }}</div>
      </ng-template>
    </p-fileUpload>
  </div>
  <br />
  <h2>Uploaded files</h2>
  <ng-container class="file-tree" id="fileTree">
    <p-table
      #fileTable
      [(selection)]="selectedFiles"
      [breakpoint]="'426px'"
      [filterDelay]="0"
      [globalFilterFields]="['name', 'size', 'createdAt']"
      [paginator]="true"
      [rowsPerPageOptions]="[5, 10, 20]"
      [rows]="10"
      [showCurrentPageReport]="true"
      [value]="data()"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      responsiveLayout="stack"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <div class="flex">
            <input
              (input)="filterTable()"
              pInputText
              placeholder="Search keyword"
              type="text"
            />
          </div>
          <div class="btn-group justify-content-end">
            <p-button
              (onClick)="refresh()"
              icon="pi pi-refresh"
              severity="success"
            />
            <p-button
              (onClick)="deleteFiles(mapToFileName(selectedFiles))"
              [disabled]="!selectedFiles || selectedFiles.length === 0"
              [style]="{ width: 'auto' }"
              badge="{{ selectedFiles.length }}"
              icon="pi pi-trash"
              severity="danger"
            />
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="!utils.isMobile" style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name" style="max-width: 90vw">
            Name
            <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="size">
            Size
            <p-sortIcon field="size"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">
            Uploaded date
            <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template let-file pTemplate="body">
        <tr>
          <td *ngIf="!utils.isMobile">
            <p-tableCheckbox [value]="file"></p-tableCheckbox>
          </td>
          <td style="max-width: 90vw">
            <p>{{ file.name }}</p>
          </td>
          <td>{{ file.size }}</td>
          <td>
            {{ file.createdAt | date: 'HH:mm:ss, dd/MM/yyyy' }}
          </td>
          <td class="flex flex-row gap-1 action">
            <p-button
              (onClick)="storageService.downloadFile(file.name)"
              icon="pi pi-download"
              pTooltip="Download"
              severity="success"
            ></p-button>
            <p-button
              (onClick)="deleteFiles(file.name)"
              icon="pi pi-trash"
              pTooltip="Remove"
              severity="danger"
            ></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </ng-container>
</div>
