<div class="time-calculator">
  <form [formGroup]="dateCal">
    <h3>From</h3>
    <mat-form-field appearance="fill">
      <mat-label>From</mat-label>
      <input
        (dateChange)="onSelectDate()"
        [(ngModel)]="fromDate"
        [matDatepicker]="fromPicker"
        formControlName="fromDate"
        matInput
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        [for]="fromPicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #fromPicker></mat-datepicker>
    </mat-form-field>
    <h3>To</h3>
    <mat-form-field appearance="fill">
      <mat-label>To</mat-label>
      <input
        (dateChange)="onSelectDate()"
        [(ngModel)]="toDate"
        [disabled]="!fromDate"
        [matDatepicker]="toPicker"
        [min]="fromDate"
        formControlName="toDate"
        matInput
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        [disabled]="!fromDate"
        [for]="toPicker"
        matSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #toPicker></mat-datepicker>
    </mat-form-field>
    <h2 class="mt-2">Result:</h2>
    <mat-form-field>
      <input
        [(ngModel)]="result"
        [disabled]="true"
        formControlName="result"
        id="result"
        matInput
        name="text"
        readonly
      />
    </mat-form-field>
  </form>
  <button (click)="clear()" pButton>Clear</button>
</div>
