<div class="file-upload">
  <p-fileUpload
    #fileUpload
    (uploadHandler)="uploadFile($event)"
    [customUpload]="true"
    [disabled]="false"
    [maxFileSize]="10000000000"
    [multiple]="true"
    accept=""
    name="fileUpload"
    uploadIcon="i"
    uploadLabel="Create zip"
  >
    <ng-template let-file pTemplate="file">
      <div>{{ file.name }}</div>
    </ng-template>
  </p-fileUpload>
  <!--  <a #downloadLink (click)="downloadZip()">Download Zip</a>-->
  <!--  <p-button #downloadLink (onClick)="downloadZip()">Download Zip</p-button>-->
</div>
