<p-toast key="appToast" position="top-center"></p-toast>
<app-menu-bar></app-menu-bar>
<ngx-spinner
  [fullScreen]="true"
  [zIndex]="1000"
  bdColor="rgba(0, 0, 0, 0.8)"
  color="#fff"
  size="large"
  type="ball-clip-rotate-multiple"
></ngx-spinner>
