.change-case {
  .form {
    &-wrapper {
      width: 100%;
      text-align: center;
    }

    &-field {
      width: 80%;
    }
  }

  .checkboxes {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 600px) {
      flex-direction: column;
      gap: 0;
    }
    text-align: left;
    width: 80%;
    gap: 1rem;
    margin: auto;
  }

  .button-group {
    margin: 2rem auto auto;
    display: flex;
    width: 80%;
    gap: 0.5rem;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    & > button {
      flex: auto;
    }
  }
}
