<div class="change-case p:1rem">
  <div class="form-wrapper">
    <mat-form-field class="form-field">
      <mat-label>Input text to change</mat-label>
      <textarea
        [(ngModel)]="text"
        cdkAutosizeMaxRows="10"
        cdkAutosizeMinRows="10"
        cdkTextareaAutosize
        id="text"
        matInput
        name="text"
      ></textarea>
    </mat-form-field>
    <p>Count: {{ count$() }}</p>
    <mat-radio-group [(ngModel)]="choice" class="checkboxes" color="primary">
      <mat-radio-button value="uppercase">UPPERCASE</mat-radio-button>
      <mat-radio-button value="lowercase">lowercase</mat-radio-button>
      <mat-radio-button value="title">Title Case</mat-radio-button>
      <mat-radio-button value="camel">camelCase</mat-radio-button>
      <mat-radio-button value="kebab">kebab-case</mat-radio-button>
      <mat-radio-button value="minify">Minify HTML/CSS/JS</mat-radio-button>
    </mat-radio-group>
    <div class="button-group">
      <button
        (click)="handleChangeCasesClick()"
        color="primary"
        mat-raised-button
      >
        Change
      </button>
      <button [cdkCopyToClipboard]="text" color="primary" mat-raised-button>
        Copy to clipboard
      </button>
      <button (click)="text = ''" color="primary" mat-raised-button>
        Clear
      </button>
    </div>
  </div>
</div>
