<div class="invoice">
  <h1>Hóa đơn online</h1>
  <div class="invoice-form">
    <mat-form-field appearance="fill">
      <mat-label>Tên</mat-label>
      <mat-select
        [(value)]="selectedName"
        [errorStateMatcher]="matcher"
        [formControl]="selectedNameControl"
        required
      >
        <mat-option *ngFor="let name of names" value="{{ name }}">
          {{ name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectedNameControl.hasError('required')"
        >Không được bỏ trống
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Ngày bắt đầu - kết thúc</mat-label>
      <mat-date-range-input [rangePicker]="date">
        <input
          [(ngModel)]="startDate"
          matStartDate
          placeholder="Ngày bắt đầu"
        />
        <input [(ngModel)]="endDate" matEndDate placeholder="Ngày kết thúc" />
      </mat-date-range-input>
      <mat-datepicker-toggle [for]="date" matSuffix></mat-datepicker-toggle>
      <mat-date-range-picker #date></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Đóng cho tháng</mat-label>
      <input
        [(ngModel)]="month"
        matInput
        max="12"
        min="1"
        placeholder="Nhập tháng"
        type="number"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Số tiền</mat-label>
      <input
        [(ngModel)]="money"
        [formControl]="moneyControl"
        id="money"
        matInput
        placeholder="Nhập tiền"
        type="number"
      />
      <span matSuffix>VND&nbsp;</span>
      <mat-error>Nhập vào số tiền</mat-error>
    </mat-form-field>
    <br />
    <button
      (click)="exportImage()"
      [disabled]="
        selectedNameControl.hasError('required') ||
        moneyControl.hasError('required')
      "
      color="primary"
      mat-raised-button
    >
      Submit
    </button>

    <div class="result-wrapper">
      <div class="result" id="capture">
        <h2 style="text-align: center">Biên lai thu tiền</h2>
        <h3 style="text-align: center">{{ now | date: 'dd/MM/yyyy' }}</h3>
        <p>Họ và tên: {{ selectedName }}</p>
        <p>
          Ngày bắt đầu: {{ startDate | date: 'dd/MM/yyyy' }} - Ngày kết thúc:
          {{ endDate | date: 'dd/MM/yyyy' }}
        </p>
        <p>Nội dung thu: Tiền học phí tháng {{ month }}</p>
        <p>Số tiền: {{ formatNumber(money) }} đồng</p>
        <h2>Chữ ký</h2>
        <img alt="Chữ Ký" height="150" src="assets/chu-ky.jpg" width="150" />
      </div>
    </div>
  </div>
</div>
