/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.btn-group {
  display: flex;
  width: 80vw;
  justify-content: center;
  margin: auto;
  gap: 0.5rem;
}

.p-inputtext {
  padding: 0.5rem;
}

.wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
