<p>Upload CSV file:</p>
<p-fileUpload
  (onSelect)="chooseFile($event)"
  (onSend)="handleUpload()"
  [maxFileSize]="100000000"
  [multiple]="true"
  accept=""
  name="file"
  url="http://localhost:8080/files/upload"
>
  <ng-template pTemplate="toolbar">
    <button (click)="generateJson()" [disabled]="!inputFiles.length" pButton>
      Generate JSON
    </button>
  </ng-template>
  <ng-template let-file pTemplate="file">
    <div>{{ file.name }}</div>
  </ng-template>
</p-fileUpload>
<div>
  <li *ngFor="let result of uploadedFileLists | async">{{ result.name }}</li>
</div>
